<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- customErrors - Turn on custom error pages instead of ASP.NET errors containing stack traces which are a security risk. -->
    <customErrors xdt:Transform="SetAttributes(mode)" mode="On" />
    <!-- compilation - Turn off debug compilation. -->
    <compilation xdt:Transform="SetAttributes(debug)" debug="false" />
    <!-- trace - Turn off tracing, just in case it is turned on for debugging. -->
    <trace xdt:Transform="Remove" />
  </system.web>
  <system.webServer>
    <!-- 
		clientCache - Enable client caching of static files like images. By default each static file is given an ETag (like a fingerprint).
			See http://www.iis.net/configreference/system.webserver/staticcontent/clientcache
		cacheControlCustom - Set the Cache-Control HTTP header to a public cache so it is cached by the browser and any proxies. 
		cacheControlMode=UseMaxAge - Adds a Cache-Control: max-age=<nnn> header to the response based on the value specified in the CacheControlMaxAge attribute. 
		cacheControlMaxAge - Set the maximum age to one year. 
		setEtag=false - Specifies whether the HTTP ETag header is calculated and set. The ETag header is used for web cache validation,
			and enables a Web server to not have to send a full response if no changes have been made to the content. Disabling ETags
			causes browsers to use the Last-Modified HTTP header to determine if it has the latest version of the file or not.
		Note: if using < IIS8, add the following line to customHeaders <add name="ETag" value="" /> to have the same effect and remove setEtag from here. 
		-->
    <staticContent>
      <clientCache xdt:Transform="Remove" />
      <clientCache xdt:Transform="Insert" cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>
  </system.webServer>
</configuration>
